<h1>Put your hands in the air for the Space Jam!</h1>
<h1>I can fly like an eagle!</h1>
<%= form_tag(search_path, :method=>'post') do %>
 <p>
   Search Term:<br />
   <%= text_field_tag "q" %>
 </p>
  <p>
    Number of Results:<br />
    <%= number_field_tag "limit" %>
  </p>
   <p>
     Health:<br />
     <%= text_field_tag "health" %>
   </p>
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>

<% if @recipes %>
<%= @recipes %>
<% end %>
