<div class="row">
  <div class="small-12 medium-8 medium-offset-2 large-8 large-offset-2 column">
    <div class="callout large">
      <h2 class='user-heading description'>
        Edit <%= resource_name.to_s.humanize %>
      </h2>
      <%= form_for(resource, as: resource_name,
                             url: registration_path(resource_name),
                             html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email, class: 'description' %><br />
          <%= f.email_field :email, autofocus: true, class: 'search-field' %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for:
            <%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <div class="field">
          <%= f.label :password, class: 'description' %>
          <% if @minimum_password_length %>
            <em class='description'>
              <%= @minimum_password_length %> characters minimum
            </em>
          <% end %>
            <%= f.password_field :password,
              autocomplete: "off",
              class: 'search-field',
              placeholder: 'leave blank if you don\'t want to change it)' %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, class: 'description' %><br />
          <%= f.password_field :password_confirmation,
                               autocomplete: "off",
                               class: 'search-field' %>
        </div>
        <div class="field">
          <%= f.label :current_password, class: 'description' %>
            <i class='description'>
              (we need your current password to confirm your changes)
            </i>
            <br />
          <%= f.password_field :current_password,
                               autocomplete: "off",
                               class: 'search-field' %>
        </div>
        <div class="actions">
          <%= f.submit "Update", class: 'submit-btn' %>
        </div>
      <% end %>
      <h3 class="user-heading description">Cancel my account</h3>
      <p class='description'>Unhappy?</p>
      <div class="actions">
        <%= button_to "Cancel my account",
                      registration_path(resource_name),
                      data: { confirm: "Are you sure?" },
                      method: :delete,
                      class: 'submit-btn cancel-button' %>
      </div>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
