<%= image_tag(@recipe.image) %>
<br /><br />
<%= @recipe.label %>
<% if Recipe.exists?(edamam_id: @recipe.e_id, dislike: true) %>
<i class="fa fa-thumbs-down"></i>
<% else %>
  <i class="fa fa-heart"></i>
<% end %>
<br /><br />
Servings: <%= @recipe.yield %>
<br />
NUTRION PER SERVING:<br /><br />
Calories: <%= (@recipe.calories/@recipe.yield).round %>
<br /><br />

<div id="chart" data-fat-cals="<%= RecipesHelper.cals_from_fat(@recipe) %>"
  data-protein-cals="<%= RecipesHelper.cals_from_protein(@recipe) %>"
  data-carbs-cals="<%= RecipesHelper.cals_from_carbs(@recipe) %>">
  <canvas id="macrosChart" ></canvas>
</div>

<br/></br/>

Ingredients:
<% @recipe.ingredient_list.each do |ingredient| %>
  <br />
  <%= ingredient %>
<% end %>
<br /><br />
<%= link_to 'Make Recipe', @recipe.url, target: '_blank', class: 'button', method: :get %>

<script>
  var fatCals = $('#chart').data('fat-cals');
  var proteinCals = $('#chart').data('protein-cals');
  var carbsCals = $('#chart').data('carbs-cals');
  var ctx = document.getElementById('macrosChart').getContext('2d');
  var macrosChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [fatCals, proteinCals, carbsCals],
        backgroundColor: [
          '#FCEA85',
          '#FFA274',
          '#2CC3A1'
        ],
      }],
      labels: ['Fat', 'Protein', 'Carbohydrates'],
    }
    // options: options
  });
</script>
