<%= image_tag(@recipe.image) %>
<br /><br />
<%= @recipe.label %>
<% if Recipe.exists?(edamam_id: @recipe.e_id, dislike: true) %>
<i class="fa fa-thumbs-down"></i>
<% else %>
  <i class="fa fa-heart"></i>
<% end %>
<br /><br />
Servings: <%= @recipe.yield %>
<br />
NUTRION PER SERVING:<br /><br />
Calories: <%= (@recipe.calories/@recipe.yield).round %><br />
Fat: <%= (@recipe.fat/@recipe.yield).round %><br />
Carbohydrates: <%= (@recipe.carbs/@recipe.yield).round %><br />
Protein: <%= (@recipe.protein/@recipe.yield).round %>
<br /><br />

<div id="chart" data-fat-cals="<%= RecipesHelper.percent_cals_from_fat(@recipe) %>"
  data-protein-cals="<%= RecipesHelper.percent_cals_from_protein(@recipe) %>"
  data-carbs-cals="<%= RecipesHelper.percent_cals_from_carbs(@recipe) %>">
  <canvas id="macrosChart" ></canvas>
  <p id="caption">Note: Due to the nutrient amounts being rounded before our
    calculations, percentages may not add to exactly 100. </p>
</div>

<br /><br /><br />

Ingredients:
<% @recipe.ingredient_list.each do |ingredient| %>
  <br />
  <%= ingredient %>
<% end %>
<br /><br />
<%= link_to 'Make Recipe', @recipe.url, target: '_blank', class: 'button', method: :get %>
