<div class="row">
  <div class="small-8 small-centered column">
      <h4 class='text-center'>
        <%= @recipe.label %>
        <% if Recipe.exists?(edamam_id: @recipe.e_id, dislike: true) %>
          <i class="fa fa-thumbs-down"></i>
        <% else %>
          <i class="fa fa-heart"></i>
        <% end %>
      </h4>
    </div>
</div>
<div class="row align-center">
  <div class="small-8 small-centered column">
    <div class="callout">
        <div class="row align-middle">
          <div class="small-9 column">
            <table>
              <thead>
                <tr>
                  <th>Servings</th>
                  <th>Calories</th>
                  <th>Fat</th>
                  <th>Carbohydrates</th>
                  <th>Protein</th>
                </tr>
              </thead>
              <tbody>
                <td><%= @recipe.yield %></td>
                <td><%= (@recipe.calories/@recipe.yield).round %></td>
                <td><%= (@recipe.fat/@recipe.yield).round %></td>
                <td><%= (@recipe.carbs/@recipe.yield).round %></td>
                <td><%= (@recipe.protein/@recipe.yield).round %></td>
              </tbody>
            </table>
          </div>
          <div class="small-3 column">
            <%= link_to 'Make Recipe',
                        @recipe.url,
                        target: '_blank',
                        class: 'button float-right',
                        method: :get %>
          </div>
        </div>
      <div class="row">
        <div class="column">
          <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
              <div class="flip-card-inner-front">
                <%= image_tag(@recipe.image) %>
              </div>
              <div class="flip-card-inner-back">
                  <div id="chart"
                       data-fat-cals="<%= RecipesHelper.percent_cals_from_fat(@recipe) %>"
                       data-protein-cals="<%= RecipesHelper.percent_cals_from_protein(@recipe) %>"
                       data-carbs-cals="<%= RecipesHelper.percent_cals_from_carbs(@recipe) %>">
                    <canvas id="macrosChart" ></canvas>
                    <span id="caption">Note: Due to the nutrient amounts being rounded before our
                      calculations, percentages may not add to exactly 100. </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <h5 class='center-text'>Ingredients</h5>
          <ul class='list-group'>
            <% @recipe.ingredient_list.each do |ingred| %>
              <li class='list-item'>
                <%= ingred %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
