<div class="row">
  <div class="small-12 column feedback-box">
    <table class="hover">
      <thead>
        <tr>
          <th>Label</th>
          <th>Comment</th>
          <th>Link</th>
          <th>User ID</th>
          <th>Admin ID</th>
          <th>Complete?</th>
        </tr>
      </thead
      <tbody>
        <% @feedbacks.each do |fb| %>
          <tr>
            <td><%= fb.label %></td>
            <td><%= fb.message %></td>
            <td><%= fb.link %></td>
            <td><%= fb.user_id %></td>
            <td><%= fb.admin_id %></td>
            <td>
              <%= form_tag('#') do %>
                <%= check_box_tag("complete",
                                  :complete,
                                  fb.complete == true ? true : false) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
