<div class="row">
  <div class="small-8 small-offset-2 column">
    <div class="callout large">

      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: 'description' %><br />
          <%= f.email_field :email, autofocus: true, class: 'search-field' %>
        </div>

        <div class="field">
          <%= f.label :password, class: 'description' %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'search-field' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'description' %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'submit-btn' %>
        </div>
      <% end %>
      <br/>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
