<div class="row">
  <div class="small-8 small-offset-2 column">
    <div class="callout large">

      <h2 class="user-heading description">Give us your feedback!</h2>

      <%= simple_form_for @feedback, url: feedbacks_path do |f| %>
        <%= f.input :label %>
        <%= f.input :description, as: :text %>
        <%= f.input :link, hint: '(Optional)' %>
        <%= f.hidden :user_id %>
        <%= f.button :submit %>
      <% end %>

    </div>
  </div>
</div>
