<div class="button-row-container">
  <div class="row align-center">
    <div class="small-10 small-centered column">
      <% if current_user %>
        <div id="change-favorites-<%=recipe.e_id %>">
          <% if Recipe.exists?(edamam_id: recipe.e_id, dislike: false) %>
            <%= link_to dashboard_path(search_id: params[:search_id]),
                                       class: 'button faved-btn',
                                       data: { button_id: recipe.e_id },
                                       method: :get do %>
              <i class="fa fa-heart"></i>
            <% end %>
          <% elsif Recipe.exists?(edamam_id: recipe.e_id, dislike: true) %>
            <%= link_to dashboard_path(search_id: params[:search_id]),
                                       class: 'button disliked-btn',
                                       data: { button_id: recipe.e_id },
                                       method: :get do %>
                <i class="fa fa-thumbs-down"></i>
            <% end %>
          <% else %>
            <%= link_to recipes_path(user_id: current_user.id,
                                          id: recipe.e_id,
                                          recipe_name: recipe.label,
                                          dislike: false,
                                          image: recipe.image ),
                                          class: 'button fav favOrNot',
                                          data: { button_id: recipe.e_id },
                                          method: :post do %>
                <i class="fa fa-heart-o"></i>
            <% end %>
            <%= link_to recipes_path(user_id: current_user.id,
                                          id: recipe.e_id,
                                          recipe_name: recipe.label,
                                          dislike: true,
                                          image: recipe.image ),
                                          class: 'button dislike favOrNot',
                                          data: { button_id: recipe.e_id },
                                          method: :post do %>
              <i class="fa fa-thumbs-o-down"></i>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <%= link_to 'Sign In to Save',
                    new_user_session_path,
                    class: 'button' %>
      <% end %>
    </div>
  </div>
</div>
