<% @recipes.each do |recipe| %>
  <% recipe = recipe.make_dto %>
  <div class="callout callout-hover-reveal" data-callout-hover-reveal>
    <div class="callout-body">
          <%= image_tag(recipe.image) %>
          <%= recipe.label %>
          <% if current_user %>
            <!-- Favorite/Dashboard Buttons -->
            <div id="change-favorites-<%=recipe.e_id %>">
            <% if Recipe.exists?(edamam_id: recipe.e_id) %>
              <%= link_to dashboard_url, class: 'button',
                                         data: { button_id: recipe.e_id },
                                         method: :get do %>
                    View Dashboard
                    <% if Recipe.exists?(edamam_id: recipe.e_id, dislike: true) %>
                      <i class="fa fa-thumbs-down"></i>
                    <% else %>
                      <i class="fa fa-heart"></i>
                    <%end%>
              <% end %>
            <% else %>
              <%= link_to user_recipes_path(user_id: current_user.id,
                                            id: recipe.e_id,
                                            recipe_name: recipe.label,
                                            dislike: false ),
                                            class: 'button fav',
                                            data: { button_id: recipe.e_id },
                                            method: :post do %>
                                            <i class="fa fa-heart-o"></i>
              <% end %>
              <%= link_to user_recipes_path(user_id: current_user.id,
                                            id: recipe.e_id,
                                            recipe_name: recipe.label,
                                            dislike: true ),
                                            class: 'button dislike',
                                            method: :post do %>
                                            <i class="fa fa-thumbs-o-down"></i>
              <% end %>
            <% end %>
          </div>
          <% else %>
            <%= button_to 'Sign In to Save', new_user_session_path, class: 'button' %>
          <% end %>

          Servings: <%= recipe.yield %>
          <br>
          Calories per Serving: <%= (recipe.calories/recipe.yield).round(1) %>
          <br>
          Ingredients:

    </div>
    <div class="callout-footer">
      <div class="ingreds">
        <% recipe.ingredient_list.each do |ingredient| %>
          <%= ingredient %>
        <% end %>
      </div>
      <br>
      <%= link_to 'See Directions',
      recipe.url, target: '_blank', class:'button', method: :get %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(function(){
$('[data-callout-hover-reveal]').hover(function(){
  $(this).find('.callout-footer').slideDown(250);
    },function(){
  $(this).find('.callout-footer').slideUp(250);
  });
})
</script>
