<% @recipes.each.with_index do |recipe, index| %>
  <% recipe = recipe.make_dto %>
  <div class="recipe-card callout callout-hover-reveal">
    <div class="callout-body">
      <div class="row align-center">
        <div class="column text-center">
          <h5><%= recipe.label %></h5>
          <div class="card-image">
            <%= image_tag(recipe.image) %>
          </div>
          <%= render partial: 'buttons', locals: { recipe: recipe } %>
          <div class="row align-center">
            <div class="column">
              <span class="label">
                <b><%= recipe.yield %></b>
                servings
              </span>
            </div>
            <div class="column">
              <span class="label">
                <b><%= (recipe.calories/recipe.yield).round(1)%></b>
                calories per serving
              </span>
            </div>
          </div>
          <div class="pointer text-center" data-index='<%= index %>' >
            <i class="fa fa-chevron-down"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="callout-footer" data-index='<%= index %>' >
      <div class="row align-center">
        <div class="column text-center">
          <h4>Ingredients</h4>
        </div>
      </div>
      <div class="row align-center">
        <div class="column">
          <ul class='list-group'>
            <% recipe.ingredient_list.each do |ingred| %>
              <li class='list-item'>
                <%= ingred %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <br>
      <div class="row align-center">
        <div class="column text-center">
          <%= link_to 'See Directions',
                      recipe.url,
                      target: '_blank',
                      class:'button',
                      method: :get %>
        </div>
      </div>
    </div>
  </div>
<% end %>
