<% @recipes.each do |recipe| %>
  <% recipe = recipe.make_dto %>
  <div class="callout callout-hover-reveal" data-callout-hover-reveal>
    <div class="callout-body">
      <div class="card-image">
        <%= image_tag(recipe.image) %>
      </div>
      <h4><%= recipe.label %></h4>
      <%= render partial: 'buttons', locals: { recipe: recipe } %>
      <span>Servings: <%= recipe.yield %></span>
      <span>
        Calories per Serving:
        <%= (recipe.calories/recipe.yield).round(1) %>
      </span>
    </div>
    <div class="callout-footer">
        <span>Ingredients:</span>
        <ul class='list-group'>
          <% recipe.ingredient_list.each do |ingredient| %>
            <li class='list-item'>
              <%= ingredient %>
            </li>
          <% end %>
        </ul>
      <%= link_to 'See Directions',
                  recipe.url,
                  target: '_blank',
                  class:'button',
                  method: :get %>
    </div>
  </div>
<% end %>
