<div class="row align-justify">
  <div class="small-8 small-centered columns text-center">
    <div class="search-form-container">
    <%= form_tag(search_path, :method=>'post', id:'search', class:'search-form') do %>
      <div class="flex-item">
        <%= text_field_tag "q",
          QueryResult.return_query_term,
          maxlength: 50,
          placeholder: 'Search',
          required: true,
          class: 'text-input' %>
    </div>
      <div class="flex-item radio-inputs">
        <div class="radio-inputs">
         <%= radio_button_tag(:health,
                              "vegan",
                               QueryResult.return_health == 'vegetarian' ? false : true) %>
         <%= label :health_vegan, 'vegan' %>
          <%= radio_button_tag(:health,
                               "vegetarian",
                              QueryResult.return_health == 'vegetarian' ? true : false) %>
          <%= label :health_vegetarian, 'vegetarian' %>
        </div>
      </div>
      <div class="flex-item">
        <div class="input-group plus-minus-input">
           <div class="input-group-button">
            <button type="button" class="hollow circle" data-quantity="minus" data-field="max_cal">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            </div>
            <%= number_field_tag "max_cal",
                                  QueryResult.return_max_cal ? QueryResult.return_max_cal : 500,
                                  min:1,
                                  required: true,
                                  class: 'input-group-field text-input' %>
            <div class="input-group-button">
              <button type="button" class="hollow circle" data-quantity="plus" data-field="max_cal">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
<div class="row align-justify">
  <div class="small-8 small-centered columns text-center">
    <button id="myBtn" class="button submit-btn float-right">Submit</button>
  </div>
</div>
