<div class="row search-stuff">
  <div class="small-8 small-centered columns">
      <%= form_tag(search_path, :method=>'post', class:'search-form') do %>
      <div class="search-box">
        <div class="row text-left">
            <div class="columns">
              <div class='description'>Dietary Choice</div>
            </div>
        </div>
        <div class="row small-up-2 text-left">
          <div class="columns">
            <div class="radio-inputs">
               <%= radio_button_tag(:health,
                                    "vegan",
                                     QueryResult.return_health == 'vegetarian' ? false : true) %>
               <%= label :health_vegan, 'vegan', class: 'radio-label' %>
                <%= radio_button_tag(:health,
                                     "vegetarian",
                                    QueryResult.return_health == 'vegetarian' ? true : false) %>
                <%= label :health_vegetarian, 'vegetarian', class: 'radio-label' %>
              </div>
          </div>
        </div>
        <div class="row text-left">
          <div class="columns">
            <div class='description'>Max Calories Per Serving</div>
          </div>
        </div>
        <div class="row small-up-2">
          <div class="columns">
            <div class="input-group plus-minus-input"
                 title="Maximum calories per serving">
              <div class="input-group-button">
                <button type="button" class="hollow circle" data-quantity="minus" data-field="max_cal">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
              </div>
              <%= number_field_tag "max_cal",
                                      QueryResult.return_max_cal ? QueryResult.return_max_cal : 500,
                                      min:1,
                                      required: true,
                                      class: 'input-group-field text-input' %>
              <div class="input-group-button">
                  <button type="button" class="hollow circle" data-quantity="plus" data-field="max_cal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </div>
            </div>
          </div>
        </div>
        <div class="search-field">
          <div class="row ">
            <div class="small-9 columns">
              <%= text_field_tag "q",
                QueryResult.return_query_term,
                maxlength: 50,
                placeholder: 'search by ingredient or meal...',
                required: true,
                class: 'text-input' %>
            </div>
            <div class="small-3 columns">
              <%= button_tag(type:'submit', class:'submit-btn float-right') do %>
                <i class="fa fa-search"></i>
                <!-- <span>forage</span> -->
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
