<script src="https://use.fontawesome.com/fb33a1c2bd.js"></script>

<div>
  <%= form_tag(search_path, :method=>'post') do %>
    <div>
     Search Term:<br />
     <%= text_field_tag "q",
       QueryResult.return_query_term,
       maxlength: 20,
       placeholder: 'Search',
       required: true
     %>
    </div>
    <div>
      Number of Results:
      <br />
      <%= number_field_tag "limit", 1, min:1, max:10, required: true %>
    </div>
     <div>
       Vegan <%= radio_button_tag(:health, "vegan", true) %>
       <br />
       Vegetarian <%= radio_button_tag(:health, "vegetarian") %>
       <br />
     </div>
        <div>
          Maximum Calories Per Serving:
          <br/>
          <%= number_field_tag "max_cal", 500, min:1, required: true %>
        </div>
     <div>
       <%= submit_tag 'Submit' %>
     </div>
  <% end %>
</div>

<br /><br />

<% if @recipes %>
  <% @recipes.each do |recipe| %>
    <% recipe = recipe.make_dto %>
    <!-- <%= link_to name_recipe_path(recipe.e_id, recipe.label) do %> -->
      <div class="recipe-query-box">
        <%= image_tag(recipe.image) %>
        <br /><br />

        <%= recipe.label %>
        <br /><br />

        <% if Recipe.exists?(edamam_id: recipe.e_id) %>
          <%= button_to recipe_path(:id => recipe.e_id), class: 'button', method: :delete do %>
            Unfavorite
            <i class="fa fa-heart"></i>
          <% end %>
        <% else %>
          <%= button_to recipes_path(:id => recipe.e_id, :name => recipe.label), class: 'button', method: :post do%>
            Favorite
            <i class="fa fa-heart-o"></i>
          <% end %>
        <% end %>

        Servings: <%= recipe.yield %>
        <br />

        Calories per Serving: <%= (recipe.calories/recipe.yield).round(1) %>

        <br /><br />

        Ingredients:
        <% recipe.ingredient_list.each do |ingredient| %>
          <br />
          <%= ingredient %>
        <% end %>

        <br /><br />

        <%= button_to 'See Directions', recipe.url, method: :get %>
      </div>
      <br /><br />
    <% end %>
  <!-- <% end %> -->
<% end %>
