<div>
  <%= form_tag(search_path, :method=>'post') do %>
    <div>
     Search Term:<br />
     <%= text_field_tag "q",
       QueryResult.return_query_term,
       maxlength: 20,
       placeholder: 'Search',
       required: true
     %>
    </div>
    <div>
      Number of Results:
      <br />
      <%= number_field_tag "limit", 1, min:1, max:10, required: true %>
    </div>
     <div>
       Vegan <%= radio_button_tag(:health, "vegan", true) %>
       <br />
       Vegetarian <%= radio_button_tag(:health, "vegetarian") %>
       <br />
     </div>
        <div>
          Maximum Calories Per Serving:
          <br/>
          <%= number_field_tag "max_cal", 500, min:1, required: true %>
        </div>
     <div>
       <%= submit_tag 'Submit' %>
     </div>
  <% end %>
</div>

<br /><br />

<% if @recipes %>
  <% @recipes.each do |recipe| %>
    <%= link_to name_recipe_path(recipe.make_dto.e_id, recipe.make_dto.label) do %>
      <div>
        <%= image_tag(recipe.make_dto.image) %><br />
        <%= recipe.make_dto.label %><br />
        Calories per Serving: <%= (recipe.make_dto.calories/recipe.make_dto.yield).round(1) %>
      </div>
      <br /><br />
    <% end %>
  <% end %>
<% end %>
