<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "VegMe" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/fb33a1c2bd.js"></script>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>

  <body class="site" id="bodyId">
    <div class="site-content">
      <div class="row">
        <div class="small-12 columns">
          <header class="sticky-shrinknav-header">
            <div class="small-logo-container">
              <%= link_to root_path(search_id: params[:search_id]),
                          class: 'float-left' do %>
                <%= render 'layouts/small_logo' %>
              <% end %>
            </div>
            <div class="sticky-shrinknav-header-title">
              <%= render 'layouts/logo' %>
            </div>
            <input type="checkbox" id="nav-trigger" />
            <label for="nav-trigger" id="trigger-label"></label>
            <ul class="menu align-right sticky-shrinknav-menu float-right">
              <li class="hidden-li">
                <i class="fa fa-home mobile-menu-icon" aria-hidden="true"></i>
                <%= link_to 'Home',
                            root_path(search_id:  params[:search_id]) %>
              </li>
              <li>
                <i class="fa fa-search mobile-menu-icon" aria-hidden="true"></i>
                <%= link_to 'Search',
                            queries_path(search_id: params[:search_id]) %>
              </li>
              <% if user_signed_in? %>
                <li>
                  <i class="fa fa-user-o mobile-menu-icon" aria-hidden="true"></i>
                  <%= link_to 'Dashboard',
                              dashboard_path(search_id: params[:search_id]) %>
                </li>
                <li>
                  <i class="fa fa-sign-out mobile-menu-icon" aria-hidden="true"></i>
                  <%= link_to 'Sign out',
                              destroy_user_session_path(search_id: params[:search_id]),
                              method: :delete %>
                </li>
              <% else %>
                <li>
                  <i class="fa fa-sign-in mobile-menu-icon" aria-hidden="true"></i>
                  <%= link_to 'Sign in',
                              new_user_session_path(search_id: params[:search_id]) %>
                </li>
                <li>
                  <i class="fa fa-user-plus mobile-menu-icon" aria-hidden="true"></i>
                  <%= link_to 'Sign up',
                              new_user_registration_path(search_id: params[:search_id]) %>
                </li>
              <% end %>
              <li class="hidden-li">
                <i class="mobile-menu-icon logo"><%= render 'layouts/small_logo' %></i>
                <%= link_to 'About',
                            about_path(search_id:  params[:search_id]) %>
              </li>
              <li class="hidden-li">
                <i class="fa fa-comment mobile-menu-icon" aria-hidden="true"></i>
                <%= link_to 'Suggestions?',
                            new_feedback_path(search_id:  params[:search_id]) %>
              </li>
            </ul>
          </header>
        </div>
      </div>
      <div class="flash-container">
        <%= render partial: 'layouts/flash_messages', flash: flash %>
      </div>
      <div id='cover'></div>
      <div class="site-wrap">
        <%= yield %>
      </div>
    </div>
    <footer>
      <ul class="menu align-center">
        <% if current_user && current_user.admin %>
          <li class="invisible">Feedback Table</li>
        <% end %>
        <li class="mobile-hidden"><%= link_to 'About', about_path %></li>
        <li> <div id="edamam-badge" data-color="white"></div> <li>
        <li class="mobile-hidden"><%= link_to 'Suggestions?',
                        new_feedback_path(search_id:  params[:search_id]) %></li>
          <% if current_user && current_user.admin %>
            <li class="feedback-link">
              <%= link_to 'Feedback Table', admin_feedbacks_path %>
            </li>
          <% end %>
      </ul>
    </footer>
  </body>
</html>
