<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "VegMe" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/fb33a1c2bd.js"></script>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="row">
        <div class="small-12 columns">
          <header class="sticky-shrinknav-header">
            <div class="small-logo-container">
              <%= link_to root_path(search_id: params[:search_id]), clas: 'float-left' do %>
                <%= render 'layouts/small_logo' %>
              <% end %>
            </div>
            <h1 class="sticky-shrinknav-header-title">
              <%= link_to root_path(search_id: params[:search_id]) do %>
                <%= render 'layouts/logo' %>
              <% end %>
            </h1>
            <ul class="menu align-right sticky-shrinknav-menu float-right">
              <li><%= link_to 'Search', queries_path(search_id: params[:search_id]) %></li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Dashboard', dashboard_path(search_id: params[:search_id]) %>
                </li>
                <li>
                  <%= link_to 'Sign out', destroy_user_session_path(search_id: params[:search_id]), method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Sign in', new_user_session_path(search_id: params[:search_id]) %>
                </li>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path(search_id: params[:search_id]) %>
                </li>
              <% end %>
            </ul>
          </header>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
  </body>
</html>
